.page-header{
    display: flex;
    justify-content: space-between;
    border-bottom:  1px solid #eee;
}
.page-header .logo{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    line-height: 57px;
    margin-left: 20px;
}
.page-header .nav-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 55px;
}
.page-header .nav-list a{
    text-decoration: none;
    color: inherit;
}
.page-header .nav-list li{
    position: relative;
    padding: 0 10px;
    font-size: 16px;
    transition: all 0.3s;
}
.page-header .nav-list li.active{
    border-bottom: solid 2px #4294E3;
}
.page-header .nav-list li:hover a{
    color: #4294E3;
}
.page-header .nav-list .active a{
    color: #4294E3;
}
.page-header .nav-list .nav-dropdown{
    list-style-type: none;
    position: absolute;
    left: 0;
    width: max-content;
    background: white;
    z-index: 1;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    border-radius: 6px;
    display: none;
    transition: all 0.3s;
}
.page-header .nav-list li:hover .nav-dropdown{
    display: block;
}
.page-header .nav-list .nav-dropdown li{
    padding: 0 10px;
    font-size: 16px;
    /*border-left:  solid 2px transparent;*/
    background: rgba(0,0,0,0);
    transition: all 0.3s;
    border-bottom: 0;
    line-height: 40px;
}
.page-header .nav-list .nav-dropdown li:hover{
    background: rgba(0,0,0,0.05);
    /*border-left:  solid 2px #4294E3;*/
}
.page-header .nav-list li:hover .nav-dropdown a{
    text-decoration: none;
    color: inherit;
}
.page-header .nav-list li:hover .nav-dropdown .active a{
    text-decoration: none;
    color: #4294E3;
}
.page-header .nav-list .nav-dropdown .active a{
    text-decoration: none;
    color: #4294E3;
}